@model UserModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Register">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="UserName" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="UserName" class="form-control" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Password" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Password" class="form-control password" type="password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
            </div>

            <div class="row mb-3">
                <label class="col-2 col-form-label">Confirm Password</label>
                <div class="col-5">
                    <input id="confirmpassword" class="form-control" type="password" />
                    <span class="text-danger confirmpasswordmessage"></span>
                </div>
            </div>
            
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<a class="btn btn-primary" id="register">Register</a>
				</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            $("#register").click(function (event) {
                event.preventDefault();
                $(".confirmpasswordmessage").text("");
                if ($(".password").val() != $("#confirmpassword").val()) {
                    $(".confirmpasswordmessage").text("Password and confirm password must be the same!");
                } else {
                    $("form").submit();
                }
            });
        });
    </script>
}


