@model string

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (string.IsNullOrWhiteSpace(Model))
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h2 class="text-danger">@Model</h2>
}
